#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    max-width: 1440px;
}
#header-logo{
    width: 134px;
    height: 51px;
    padding: 0;
    margin-left: 100px;
}
#redes{
    cursor:pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70px;
    height: 30px;
    margin-right: 100px;
}