/*---------GERAL---------*/
*{
  list-style: none;
  text-decoration: none;
}

/*---------HEADER---------*/
#header-conecta{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header-logo{
  width: 134px;
  height: 51px;
  padding: 0;
  margin-left: 100px;
}
#redes{
  cursor:pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70px;
  height: 30px;
}
/*---------CHAMATIVO1---------*/
#chamativo1{
  width: 100%;
  height: 745px;
  justify-content: space-between;
  background-image: url(./image/chamativo/adrien-olichon-RCAhiGJsUUE-unsplash.png);
}
#titulo1{
  width: 458px;
  height: 150px;
  font-size: 64px;
  line-height: 77px;
  color:white;
  font-style: normal;
  font-weight: bold;
  font-family: artigo;
}
#textobuttondiv{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-top: 200px;
  margin-right: 0px;
  height: 20vh;
}

#buttondiv{
  background-color: #00EC5B;
  color: black;
  border: none;
  border-radius: 25px;
  font-size: 1.2em;
  font-family: Georgia, serif;
  font-weight: bold;
  padding: 15px 25px;
  transition: all 0.5s;
  font-size: 14px;
  width: 193px;
  height: 56px;
  cursor: pointer;
  margin-top:30px;
}
#buttondiv:hover{
  background-color: #7DF75B;
  color: white;
  transition: all 0.5s;
}
#div-img1{
  justify-content: right;
}
#img-chamativa1{
  margin: 0;
  position: relative;
  bottom: 100px;
  right: 50px;
}
/*---------PRODUTOS---------*/
#produtos{
  height: 900px;
  color: white;
}
#prodh1p{
  width: 100%;
  position: relative;
}
#prodh1p h1{
  width: 100px;
  position: relative;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 24px;
  font-weight: bolder;
  color: #101213;
  margin-top: 80px;
  margin-right: 0;
}
#prodh1p p{
  position: relative;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 50px;
  color: #0E0E0E;
  font-size: 16px;
  text-align: center;
  margin-top: 80px;
  margin-right: 0px;
}
#produtos-container{
  display: flex;
  justify-content: center;
}
#produtos-div{
  text-align: center;
  background-color: #ffffff;
  width: 360px;
  height: 484px;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 1px 5px 5px 1px #aaa;
  margin: 60px;
  margin-bottom: 10px;


}
#produtos-div p {
  position: relative;
  top: 50px;
  color: black;
  font-size: 12px;
}
#produtos-div h1{
  color: black;
  font-weight: bolder;
}
#img-produto2{
  margin-top: 29px;
  width: 169px;
  height: 260px;
}

#produtos-div button{
  background-color: #00EC5B;
  color: black;
  border: none;
  border-radius: 25px;
  font-size: 1.2em;
  font-family: Georgia, serif;
  font-weight: bold;
  padding: 15px 25px;
  transition: all 0.5s;
  cursor: pointer;
  font-size: 14px;
  width: 193px;
  height: 56px;
  margin-top:30px;
  position: relative;
  top: 110px;
}
#produtos-div button:hover{
  background-color: #7DF75B;
  color: white;
  transition: all 0.5s;
}
/*---------CHAMATIVO2---------*/
#chamativo2{
  height: 411px;
  width: 100%;
  max-width: 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 20vw;
}
#img1-chamativo2{
  width: 100%;
  grid-row: 1/3;
}
.slideshow-container {
  background: #0E0E0E;
  width: 100%;
  height: 423px;
}
#firstSlide{
    margin-top: 50px;
    display: block;
    color: white;
    width: 367px;
    height: 46px;
    font-size: 18px;
    padding: 80px;
}
.mySlides {
  margin-top: 50px;
  color: white;
  width: 367px;
  height: 46px;
  font-size: 18px;
  padding: 80px;
  display: none;
  text-align: center;
}
.dot-container {
  text-align: center;

}
.dot {
  padding: 0;
  text-align: center;
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 8px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
.author {
  color: white;
}
#img2-chamativo2{
    width: 100%;
}
#img2-chamativo2 img{
  width: 100%;
  height: 388px;
}
#img2-chamativo2 h1{
    width: 262px;
    height: 42px;
    font-size: 32px;
    font-weight: bold;
    color: white;
    position: relative;
    bottom: 220px;
    left: 150px;

}
/*---------SECTION-EXPERIMENTA---------*/

#experimente{
  margin-top: 550px;
  background-color: #00EC5B;
  width: 100%;
  height: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#experimente button{
  background-color: black;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 1.2em;
  font-family: Georgia, serif;
  font-weight: bold;
  padding: 15px 25px;
  transition: all 0.5s;
  cursor: pointer;
  width: 193px;
  margin-top:30px;
  margin-left: 20px;
  font-size: 14px;
  position: relative;
  bottom: 150px;
}
#experimente button:hover{
  background-color: #dddddd;
  color: black;
  transition: all 0.5s;
}
#experimente h1{
  font-size: 28px;
  font-weight: bolder;
  height: 300px;
  margin-right: 0;
  display: grid;
  justify-content: center;
  align-items: center;
}
#expimg1{
  position: relative;
  bottom: 110px;
  left: 80px;
}
#expimg2{
  position: relative;
  top: 60px;
}
#expimg3{
  position: relative;
  top: 30px;
}
/*---------FALECONOSCO---------*/
#faleconosco{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #1B1F1C;
  width: 100%;
  height: 750px;
  position: absolute;
}
#txtfaleconosco h1{
  font-weight: bolder;
  align-items: center;
  color: white;
  font-size: 40px;
  margin-left: 150px;
  margin-top: 200px;
}
#redes-foot{
  width: 150px;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 160px;
}
#footer-fonts{
  cursor: pointer;
  margin-right: 10px;
  position: relative;
  right: 10px;
}
#formulario{
  margin-top: 70px;
  width: 80%;
  padding: 20px;
  text-align: center;
}
#wrapper{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  gap: 30px;
}
#wrapper #box{
  width: 100%;
  position: relative;
  padding: 20px;
}
#wrapper #box input{
  width: 100%;
  font-size:20px;
  color: white;
  background: #1B1F1C;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: none;
  border-left: none;
  transition: 0.5s linear;
  outline: none;
}
#wrapper #box input:focus,
#wrapper #box input:valid{
  color: white;
  background: grey;
  border-top: 1px solid #00EC5B;
  border-right: 1px solid #00EC5B;
}
#wrapper #box option{
  width: 100%;
  font-size:20px;
  color: white;
  background: grey;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: none;
  border-left: none;
  outline: none;
}
#wrapper #box select{
  width: 100%;
  font-size:20px;
  color: grey;
  background: #1B1F1C;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: none;
  border-left: none;
  transition: 0.5s linear;
  outline: none;
}


::-webkit-input-placeholder{
  color:grey;
  font-size: 16px;
}
:focus::-webkit-input-placeholder{
  color: white;
  font-size: 16px;
}
#wrapper #box label{
  position: absolute;
  top: -30px;
  left: 0;
  color: #00EC5B;
  font-size: 12px;
  font-weight: bold;
  padding: 20px;
}
:focus::label{
  color: #00EC5B;
}

#wrapper #box textarea{
  width: 100%;
  height: 131px;
  font-size: 20px;
  color:white;
  background: #1B1F1C;
  outline: none;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: none;
  border-left: none;
  transition: 0.5s linear;
  resize: none;
}
#wrapper #box textarea:focus,
#wrapper #box textarea:valid{
  background: gray;
  border-top: 1px solid #00EC5B;
  border-right: 1px solid #00EC5B;

}
#formulario input[type="submit"]{
  background-color: #00EC5B;
  color: var(--black);
  border: none;
  border-radius: 25px;
  font-size: 1.2em;
  font-family: Georgia, serif;
  font-weight: bold;
  padding: 15px 25px;
  transition: all 0.5s;
  cursor: pointer;
  font-size: 14px;
  width: 193px;
  height: 56px;
  margin-left: 350px;
}
#formulario input[type="submit"]:hover{
  background-color: #7DF75B;
  color: white;
  transition: all 0.5s;
}

#direitosfoot{
  font-size: 12px;
  margin-top: 65px;
  margin-left: 150px;
  color: grey;
}
#direitosfoot2{
  width: 258px;
  height: 50px;
  display: flex;
  justify-content: right;
  color: white;
  margin-top: 60px;
  margin-left: 300px;
}
#direitosfoot2 h4{
  width: 150px;
  margin-top: 15px;
}
#direitosfoot2 img{
  margin-top: 20px;
  width: 80px;
  height: 11px;
}
/*---------MEDIAQUERIES---------*/
@media(min-width:1440px){
      /*---------CHAMATIVO2---------*/
      #chamativo2{margin-left: 23%;}
      #img1-chamativo2{
          width: 385px;
          height: 829px;
      }
      #img2-chamativo2 img{
          width: 385px;
          height: 409px;
          position: relative;
          bottom: 5px;
      }
      #img2-chamativo2 h1{
          color: white;
          margin: 0;
          position: relative;
          width: 385px;
          bottom: 230px;
          left: 70px;
      }
      .slideshow-container {
          width: 385px;
          height: 407px;
      }
      #firstSlide{
          margin-left: 10%;
          margin-top: 100px;
          padding: 40px;
          position: relative;
          right: 70px;
    }
      .mySlides {
        margin-left: 10%;
        margin-top: 100px;
        padding: 40px;
        position: relative;
        right: 70px;   
    }
    .dot {
      height: 15px;
      width: 15px;
      margin: 0 5px;  
  }
  /*---------EXPERIMENTA---------*/
  #expimg3{width: 400px;}
}
@media(min-width: 1140px) and (max-width: 1439px){
  #chamativo2{margin-left: 10%;}
  #expimg3{width: 300px;}
}
@media(min-width: 1005px) and (max-width: 1139px){
          /*---------CHAMATIVO2---------*/
          body h1{
              margin-right: 0;
          }
          #chamativo2{
              margin-left: 0%;
              position: relative;
          }
          #img1-chamativo2{
            transform:scaleX(0.7);
          }
          .slideshow-container {
            transform: scaleX(0.8);
            background: #0E0E0E;
            width: 500px;
            position:relative;
            right: 140px;
        }
          #img2-chamativo2{
            width: 500px;
          }
          #img2-chamativo2 img{
            transform: scaleX(0.8);
            position:relative;
            right: 140px;
          }

          #img2-chamativo2 h1{
              width: 260px;
              position: absolute;
              top: 600px;
              left: 570px;
          }
          #expimg3{
              position: relative;
              right: 80px;
              width: 250px;
              height: 400px;
          }
          #formulario{
              position: relative;
              right: 80px;
          }
          #txtfaleconosco{
              position: relative;
              right: 100px;
          }
          #direitosfoot2{
              position: relative;
              right: 120px;
          }
}
@media(min-width: 768px) and (max-width: 1004px){
  body{
      width: 100%;
  }
  /*---------HEADER---------*/
  #header-logo{margin-left: 10px;}
  #redes{margin-right: 50px;}
  /*---------CHAMATIVO1---------*/
  #titulo1{
      font-size: 48px;
      margin-left: 80px;
  }
  #buttondiv{margin-left: 80px;}
  #div-img1{
      width: 100%;
      position: relative;
      right: 48px;
  }
  /*---------PRODUTOS---------*/
  #prodh1p p{width: 350px;}
  #prodh1p h1{
      width: 100px;
      position: relative;
      right: 500px;
      margin-right: 0;
  }
  #produtos-div{
      width: 340px;
      margin-right: 10px;
      margin-left: 0px;
  }
  #produtos-div p{
      position: relative;
      left: 0px;
  }
  /*---------CHAMATIVO2---------*/
  #chamativo2{
      margin-left: 10%;
      width: 100px;
  }
  #img1-chamativo2{
      margin-left: 2px;
      width: 385px;
      height: 829px;
  }
  #img2-chamativo2 img{
      width: 379px;
      height: 409px;
      position: relative;
      bottom: 5px;
  }
  #img2-chamativo2 h1{
      width: 260px;
      margin: 0;
      position: relative;
      bottom: 230px;
      left: 70px;
  }
  .slideshow-container {
      background: #0E0E0E;
      width: 379px;
      height: 407px;
  }
  #firstSlide{
      width: 330px;
      height: 46px;
      font-size: 24px;
      margin-top: 100px;
      margin-left: 35px;
      padding: 40px;
      position: relative;
      right: 50px;
}
  .mySlides {
    width: 330px;
    height: 46px;
    font-size: 24px;
    margin-top: 100px;
    margin-left: 35px;
    padding: 40px;
    right: 50px;
}
.dot {
  height: 15px;
  width: 15px;
  margin-top: 50px;
  right: 5px;
}
  /*---------EXPERIMENTE---------*/
  #expimg1{
      transform: scaleX(0.7);
      transform: scaleY(0.7);
      position: relative;
      bottom: 110px;
      left: 60px;
  }
  #expimg2{
      transform: scaleX(0.9);
      transform: scaleY(0.9);
      position: relative;
      top: 70px;
      right: 40px;
  }
  #experimente h1{
      font-size: 24px;
      font-weight: bolder;
      height: 300px;
      margin-right: 0;
      position: relative;
      right: 70px;
  }
  #experimente button{
      position: relative;
      right: 80px;
  }
  #expimg3{
      width: 300px;
      transform: translateY(2);
      transform: scaleY(1.1);
      position: relative;
      top: 60px;
      right: 90px;
  }
  /*---------FALE CONOSCO---------*/
  #faleconosco{
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      background-color: #1B1F1C;
      height: 1060px;
      position: absolute;
  }
  #txtfaleconosco h1{
      width: 250px;
      margin: 0;
      font-size: 40px;
      position: relative;
      left: 380px;
      top: 100px;
  }
  #redes-foot{
      width: 150px;
      height: 30px;
      margin-left: 150px;
      position: relative;
      left:280px;
      top:100px;
  }
  #formulario{
      width: 80%;
      padding: 40px;
      text-align: center;
      margin-left: 90px;
      margin-bottom: 0px;
      position: relative;
      bottom: 10px;
  }
  #wrapper{
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 30px;
      gap: 30px;
  }
  #direitosfoot{
      width: 300px;
      font-size: 16px;
      color: grey;
      position: relative;
      top: 50px;
      left: 120px;
  }
  #direitosfoot2{
      width: 258px;
      height: 50px;
      justify-content: right;
      color: white;
      position: relative;
      bottom: 20px;
      right: 10px;
  }
  #direitosfoot2 h4{
      position: relative;
      left: 20px;
  }
  #wrapper #box label{
      width: 100px;
      margin-left: 100px;
      text-align: left;
      color:#00EC5B;
      font-size: 18px;
      font-weight: bold;
      padding: 20px;
  }
  #formulario input[type="submit"]{
      width: 555px;
      height: 56px;
      margin-left: 30px;
  }
  #wrapper #box select{width: 590px;}
  #wrapper #box textarea{width: 590px;}
  #wrapper #box input{width: 590px;}
  #wrapper #box option{width: 590px;}
}
@media(min-width: 375px) and (max-width: 767px){
  body{width: 375px;}
  /*---------HEADER---------*/
  #header-logo{margin-right: 10px;
  position: relative;
  right: 100px;}
  #redes{margin-left: 50px;}
  /*---------CHAMATIVO1---------*/
  #titulo1{
      width: 300px;
      height: 80px;
      text-align: center;
      font-size: 38px;
      margin-left: 200px;
      margin-top: 170px;
  }
  #buttondiv{
      position: relative;
      top: 70px;
      left: 170px;
      width: 350px;
  }
  #div-img1{
      position: relative;
      right: 200px;
      bottom: 50px;
      width: 210px;
      height: 372px;
  }
  #div-img1 img{
      width: 200px;
      height: 350px;
  }
  /*---------PRODUTOS---------*/
  #produtos{width: 375px;}
  #produtos-container{
      display: grid;
      justify-content: center;
      height: 900px;
  }
  #prodh1p p{
    width: 340px;
  }
  #produtos-div{transform: scaleX(0.8);}

  /*---------CHAMATIVO2---------*/
  #chamativo2{
      width: 100%;
      height: 1700px;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
      margin: 0 auto;
      transform: scaleX(0.5);
  }
  #img1-chamativo2{
      margin-top: 450px;
      position: relative;
      right: 86px;
  }
  .slideshow-container {
      width: 566px;
      height: 423px;
      position: relative;
      right: 85px;
      bottom: 40px;
  }
  #firstSlide{
      font-size: 18px;
      padding: 30px;
      margin-left: 70px;
      margin-top: 120px;
}
  .mySlides {
      font-size: 18px;
      padding: 30px;
      margin-left: 70px;
      margin-top: 120px;
}
  .dot{
      margin-top: 20px;
      margin-left: 20px;
  }

  #img2-chamativo2{
      width: 566px;
      position: relative;
      bottom: 60px;
      right: 85px;
  }
  #img2-chamativo2 img{width: 566px;}
  #img2-chamativo2 h1{margin-left: 100px;}
  /*----------EXPERIMENTE-------*/
  #experimente{height: 370px;}
  #h1button-experimenta{
      position: relative;
      left: 170px;
      top: 100px;
  }
  #h1button-experimenta h1{
      width: 300px;
      position: relative;
      right: 20px;
      font-size: 32px;
  }
  #expimg1{display: none;}
  #expimg2{display: none;}
  #expimg3{
      height: 400px;
      transform: rotate(-16grad);
      top: -150px;
      right: 155px;
  }
  /*----------FALECONOSCO-------*/
  #faleconosco{
    width: 375px;
    display: grid;
    grid-template-columns: 1fr;
    background-color: #1B1F1C;
    height: 1060px;
    position: absolute;
}
#txtfaleconosco h1{
    width: 250px;
    margin: 0;
    font-size: 40px;
    position: relative;
    top: 100px;
}
#redes-foot{
    width: 150px;
    height: 30px;
    margin-left: 150px;
    position: relative;
    top:100px;
}
#formulario{
    width: 320px;
    padding: 20px;
    text-align: center;
    margin-bottom: 0px;
    position: relative;
    bottom: 10px;
}
#wrapper{
    width: 320px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    gap: 30px;
}
#direitosfoot{
    width: 300px;
    font-size: 16px;
    color: grey;
    position: relative;
    top: 50px;
    right: 120px;
}
#direitosfoot2{
    width: 258px;
    height: 50px;
    justify-content: right;
    color: white;
    position: relative;
    bottom: 20px;
    right: 250px;
}
#direitosfoot2 h4{
    position: relative;
    left: 20px;
}
#wrapper #box label{
    width: 100px;
    margin-left: 10px;
    color:#00EC5B;
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
}
#formulario input[type="submit"]{
    width: 300px;
    height: 56px;
    position: relative;
    right: 350px;
}
#wrapper #box select{width: 320px;
position: relative;
right: 50px}
#wrapper #box textarea{width: 320px;
position: relative;
right: 50px}
#wrapper #box input{width: 320px;
position: relative;
right: 50px}
#wrapper #box option{width: 320px;
position: relative;
right: 50px}
}